# fly.toml app configuration file generated for space-backend on 2025-10-28T08:12:11Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'space-backend'
primary_region = 'ams'

[build]
  [build.args]
    GO_VERSION = "1.23"

[env]
  PORT = "8080"
  ENVIRONMENT = "production"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
